@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* app/globals.css */

/* CSS cho Code Block trong Editor */
pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

/* Các class màu sắc cho cú pháp code (Syntax Highlighting) */
.hljs-comment,
.hljs-quote {
    color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
    color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
    color: #b9f18d;
}

.hljs-title,
.hljs-section {
    color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
    color: #70cff8;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}